<html xmlns:th="https://www.thymeleaf.org">
<head>
	<script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="/js/upload.js"></script>
</head>
<body>

<!--	<div th:if="${message}">-->
<!--		<h2 th:text="${message}"/>-->
<!--	</div>-->
<p>just click the button,then the following steps will be excecuted:</p>
<p>1.load the csv file in database with spring batch</p>
<p>2.display the data in database with restful.</p>

<div>
	<button  id="uploadbutton" >load data</button>
</div>
<br>
	<div >
		<table style="background-color: gray;border-color: #004080">
			<thead>
				<th>last name</th>
				<th>first name</th>
				<th>gpa</th>
				<th>dob</th>
			</thead>
			<tbody id="display">

			</tbody>
		</table>
	</div>

</body>
</html>
